In [9]:
import pandas as pd
import numpy as np

In [10]:
#Loading Africa Data from 2014 - 2015, single file did not have these years so it will need to be merged
africa_1 = pd.read_excel("Data/africa_1.xlsx")
africa_1

                 Country      2014       2015
0                 Angola  7.298250   9.159489
1               Benin /1 -1.066813   0.202132
2               Botswana  4.414625   3.054161
3        Burkina Faso /1 -0.258043   1.653333
4                Burundi  4.416834   5.553870
..                   ...       ...        ...
59  COMESA (SSA members)  0.186919   1.789864
60                EAC -5  4.290111   3.692463
61                ECOWAS -0.097138   1.114015
62                  SACU  7.810685  10.106702
63                  SADC -0.212940  -2.409555

[64 rows x 3 columns]

In [11]:
#Loading Africa Data from 2016 - 2023
africa_2 = pd.read_excel("Data/africa_2.xlsx")
africa_2

,Country,2016,Unnamed: 2,2017,Unnamed: 4,2018,Unnamed: 6,2019,Unnamed: 8,2020,Unnamed: 10,2021,Unnamed: 12,2022,Unnamed: 14,2023,Average Difference 2019 to 2022
0,Angola,-6.011877,NaN,-3.633446,NaN,-4.676609,NaN,-4.017052,NaN,-8.672491,NaN,-1.954664,NaN,-0.438961,NaN,-1.694201,0.814541
1,Benin /1,0.335852,NaN,2.603557,NaN,3.624263,NaN,3.824507,NaN,0.951938,NaN,4.129264,NaN,3.319873,NaN,2.587637,NaN
2,Botswana,5.048820,NaN,1.970664,NaN,2.083051,NaN,1.042060,NaN,-10.400330,NaN,10.050526,NaN,4.098347,NaN,2.092020,NaN
3,Burkina Faso /1,2.893498,NaN,3.203257,NaN,3.692238,NaN,2.869545,NaN,-0.852021,NaN,3.985314,NaN,-1.290476,NaN,1.520630,NaN
4,Burundi,-3.682189,NaN,-2.616273,NaN,-1.349596,NaN,-1.123816,NaN,-2.587287,NaN,0.115828,NaN,-1.139028,NaN,0.326282,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,COMESA (SSA members),1.544123,NaN,3.048263,NaN,3.303130,NaN,3.140596,NaN,-2.039112,NaN,3.989740,NaN,3.566515,NaN,3.006656,NaN
60,EAC -5,1.463521,NaN,2.358207,NaN,3.389089,NaN,3.532307,NaN,-1.846960,NaN,3.973809,NaN,2.753798,NaN,2.558003,NaN
61,ECOWAS,-1.825906,NaN,0.325335,NaN,0.653526,NaN,0.954235,NaN,-3.132111,NaN,1.802011,NaN,1.286668,NaN,0.741513,NaN
62,SACU,-0.598226,NaN,-0.320437,NaN,0.141713,NaN,-1.090083,NaN,-7.422353,NaN,4.032144,NaN,1.329446,NaN,-0.375026,NaN
63,SADC,-0.867926,NaN,-0.122194,NaN,0.124224,NaN,-0.803188,NaN,-6.190303,NaN,2.698348,NaN,1.588482,NaN,0.359180,NaN

In [12]:
#In order to merge both tables need to be dataframes using Pandas
africa_1df= pd.DataFrame(africa_1)
africa_2df= pd.DataFrame(africa_2)
#from africa 2 I have to remove the unamed columns
africa_2df.drop(africa_2df.columns[africa_2df.columns.str.contains(
    'unnamed', case=False)], axis=1, inplace=True)
africa_2df

,Country,2016,2017,2018,2019,2020,2021,2022,2023,Average Difference 2019 to 2022
0,Angola,-6.011877,-3.633446,-4.676609,-4.017052,-8.672491,-1.954664,-0.438961,-1.694201,0.814541
1,Benin /1,0.335852,2.603557,3.624263,3.824507,0.951938,4.129264,3.319873,2.587637,NaN
2,Botswana,5.048820,1.970664,2.083051,1.042060,-10.400330,10.050526,4.098347,2.092020,NaN
3,Burkina Faso /1,2.893498,3.203257,3.692238,2.869545,-0.852021,3.985314,-1.290476,1.520630,NaN
4,Burundi,-3.682189,-2.616273,-1.349596,-1.123816,-2.587287,0.115828,-1.139028,0.326282,NaN
...,...,...,...,...,...,...,...,...,...,...
59,COMESA (SSA members),1.544123,3.048263,3.303130,3.140596,-2.039112,3.989740,3.566515,3.006656,NaN
60,EAC -5,1.463521,2.358207,3.389089,3.532307,-1.846960,3.973809,2.753798,2.558003,NaN
61,ECOWAS,-1.825906,0.325335,0.653526,0.954235,-3.132111,1.802011,1.286668,0.741513,NaN
62,SACU,-0.598226,-0.320437,0.141713,-1.090083,-7.422353,4.032144,1.329446,-0.375026,NaN
63,SADC,-0.867926,-0.122194,0.124224,-0.803188,-6.190303,2.698348,1.588482,0.359180,NaN

In [13]:
#now I merge both dataframes into 1 dataframe using merge function
africa_df= africa_1df.merge(africa_2df)
africa_df

,Country,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Average Difference 2019 to 2022
0,Angola,7.298250,9.159489,-6.011877,-3.633446,-4.676609,-4.017052,-8.672491,-1.954664,-0.438961,-1.694201,0.814541
1,Benin /1,-1.066813,0.202132,0.335852,2.603557,3.624263,3.824507,0.951938,4.129264,3.319873,2.587637,NaN
2,Botswana,4.414625,3.054161,5.048820,1.970664,2.083051,1.042060,-10.400330,10.050526,4.098347,2.092020,NaN
3,Burkina Faso /1,-0.258043,1.653333,2.893498,3.203257,3.692238,2.869545,-0.852021,3.985314,-1.290476,1.520630,NaN
4,Burundi,4.416834,5.553870,-3.682189,-2.616273,-1.349596,-1.123816,-2.587287,0.115828,-1.139028,0.326282,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
59,COMESA (SSA members),0.186919,1.789864,1.544123,3.048263,3.303130,3.140596,-2.039112,3.989740,3.566515,3.006656,NaN
60,EAC -5,4.290111,3.692463,1.463521,2.358207,3.389089,3.532307,-1.846960,3.973809,2.753798,2.558003,NaN
61,ECOWAS,-0.097138,1.114015,-1.825906,0.325335,0.653526,0.954235,-3.132111,1.802011,1.286668,0.741513,NaN
62,SACU,7.810685,10.106702,-0.598226,-0.320437,0.141713,-1.090083,-7.422353,4.032144,1.329446,-0.375026,NaN
63,SADC,-0.212940,-2.409555,-0.867926,-0.122194,0.124224,-0.803188,-6.190303,2.698348,1.588482,0.359180,NaN

In [8]:
#I originally used this to find the average then i realized it did not find the average difference. I later used Excel to find the average difference
africa_df.mean(axis=1)

/var/folders/zj/wswv3gcn0_j9qvn0848thkv00000gn/T/ipykernel_1654/1177815903.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  africa_df.mean(axis=1)

0    -1.464156
1     2.051221
2     2.345394
3     1.741728
4    -0.208537
        ...
59    2.153669
60    2.616435
61    0.182215
62    1.361456
63   -0.583587
Length: 64, dtype: float64

In [18]:
#Future data for 2024 and 2025 Predicted by IMF
#With the average difference due to covid found in my original data 
#I made predictions using excel for 2026-2028 assuming another pandemic occurs
africa_future= pd.read_csv("Data/africa_future.csv")
africa_future

,Country,2024,2025,2026,2027,2028
0,Angola,15.269500,15.053594,12.261769,9.987714,8.135403
1,Benin /1,4.073629,5.599959,4.561396,3.715444,3.026382
2,Botswana,20.224512,19.794089,16.123097,13.132924,10.697305
3,Burkina Faso /1,52.427343,50.486815,41.123581,33.496843,27.284552
4,Burundi,-2.824542,-2.473570,-2.014824,-1.641157,-1.336790
...,...,...,...,...,...,...
59,COMESA (SSA members),14.418456,14.631489,11.917948,9.707657,7.907285
60,EAC -5,23.047009,23.594000,19.218280,15.654077,12.750888
61,ECOWAS,10.447388,8.290669,6.753090,5.500668,4.480520
62,SACU,23.851522,25.357474,20.654702,16.824102,13.703921
63,SADC,30.074280,29.805368,24.277694,19.775177,16.107693